/* Afecta a todos los elementos de mi página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño del cuerpo */
body{
    font-family: 'DM Sans', sans-serif;
    background: #ebe8e2;
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario */
.container-form{
    width: 100%;
    max-width: 450px;
}
/* Diseño del Formulario */
.formulario{
    background: white;
    padding: 50px 40px;
    border-radius: 25px;
    border: 1px solid #000000;
    text-align: center;
}

/* Diseño del titulo "Reestablecer Contraseña" */
.formulario h1{
    font-size: 32px;
    font-weight: 500;
    color: #1A1510;
    margin-bottom: 20px;
}

/* Diseño de input - formulario */
.formulario input{
    width: 100%;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 15px;
    margin-bottom: 30px;
}

/* Diseño del texto - parrafo */
.formulario p{
    color: #7A6E63;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Diseño del botón - enviar enlace */
.formulario button{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 12px;
    background: #1A1510;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.3s;
}
/* Disesño botón - pasar por encima el cursor */
.formulario button:hover{
    background: #C9722A;
}

/* Diseño del link para volver al inicio */
.links{
    margin-top: 25px;
}
.links a{
    color: #7A6E63;
    font-size: 15px;
    transition: 0.3s;
}
.links a:hover{
    color: #C9722A;
}